@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600&family=Nunito+Sans:wght@400;600;800&display=swap");

:root {
  --clr-dark: 230 35% 7%;
  --primary-clr-beige: #eed9bc;
  --primary-clr-black: #000000;
  --primary-clr-red: #ee2619;
  --primary-clr-dark-red: #630606;
  --primary-clr-dark-green: #26291f;
  --primary-clr-green: #6ebf8b;
  --primary-clr-orange: #f9ac83;
  --primary-clr-light-beige: #f3f0e7;
  --primary-clr-white: #fff;

  --ff-serif: "EB Garamond", serif;
  --ff-sans-serif: "Nunito Sans", sans-serif;

  --fs-900: 9.375rem;
  --fs-800: 6.25rem;
  --fs-700: 3.5rem;
  --fs-650: 3rem;
  --fs-600: 2rem;
  --fs-500: 1.75rem;
  --fs-400: 1.125rem;
  --fs-300: 1rem;
  --fs-200: 0.875rem;
}
