@use "base";
@use "utility";
@use "buttons";

body {
  font-family: var(--ff-sans-serif);
  line-height: 1.6;
  min-height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul,
li {
  list-style: none;
  text-decoration: none;
}

img,
picture {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

//
header {
  nav {
    display: flex;
    justify-content: space-between;
    padding: 2em 1.5em;

    .homeLogo {
      width: 100px;
    }

    .hamburger {
      display: block;
      cursor: pointer;
      color: var(--primary-clr-beige);
    }

    .navigation,
    .close {
      display: none;
    }
  }
}

.hero {
  .showcase {
    object-fit: cover;
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: -1;
  }

  .banner-logo {
    align-content: center;
    margin: 15em auto;
  }

  .hero_cta {
    margin: 0 auto 5em;
    text-align: center;
    text-decoration: underline;
    text-decoration-thickness: 2px;
  }
}

.info-section {
  text-align: center;
  height: 105vh;
  padding: 0 2em;

  .info_header {
    margin: 3em auto 2em;
    width: 80%;
  }
}

.bg-news {
  background-image: url(/assets/Images/OishiiSSWeb_forDev_Page_01_Image_0002.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: hsl(var(--clr-dark) / 0.5);
  width: 100%;
  height: 100vh;

  .news_logo {
    padding-top: 30em;
    margin: 0 auto;
  }

  .news_cta {
    margin: 8em auto;
    text-align: center;
    text-decoration: underline;
    text-decoration-thickness: 2px;
  }
}

.page-section {
  background-color: var(--primary-clr-light-beige);
  display: flex;
  flex-direction: column;
  height: 110vh;

  .page_heading {
    margin: 2em auto 0.5em;
    text-align: center;
    width: 60%;
  }

  .page_text {
    margin: 1em auto;
    text-align: center;
    padding: 0 2em;
  }
}
