@use "base";
@use "utility";
@use "buttons";

body {
  font-family: var(--ff-sans-serif);
  line-height: 1.6;
  min-height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a,
ul,
li {
  list-style: none;
  text-decoration: none;
}

img,
picture {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

//

// Mobile

header {
  nav {
    display: flex;
    justify-content: space-between;
    padding: 2em 1.5em;

    .homeLogo {
      width: 100px;
    }

    .hamburger {
      display: block;
      cursor: pointer;
      color: var(--primary-clr-beige);
    }

    .navigation,
    .close {
      display: none;
    }
  }
}

.hero {
  .showcase {
    object-fit: cover;
    position: absolute;
    top: 0;
    height: 110vh;
    width: 100%;
    z-index: -1;
  }

  .banner-logo {
    align-content: center;
    margin: 15em auto;
  }

  .hero_cta {
    margin: 0 auto 5em;
    text-align: center;
    text-decoration: underline;
    text-decoration-thickness: 2px;
  }
}

.info-section {
  background-color: var(--primary-clr-light-beige);
  text-align: center;
  height: 100vh;
  padding: 0 2em;

  .info_header {
    padding: 1.5em 0 0.5em;
    font-size: 3rem;
    margin: 0 auto;
  }
}

.bg-news {
  background-image: url(/assets/Images/OishiiSSWeb_forDev_Page_01_Image_0002.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: hsl(var(--clr-dark) / 0.5);
  width: 100%;
  height: 100vh;

  .news_logo {
    padding-top: 30em;
    margin: 0 auto;
  }

  .news_cta {
    margin: 8em auto;
    text-align: center;
    text-decoration: underline;
    text-decoration-thickness: 2px;
  }
}

.page-section {
  background-color: var(--primary-clr-light-beige);
  display: flex;
  flex-direction: column;
  height: 120vh;

  .page_heading {
    margin: 2em auto 0.5em;
    text-align: center;
    width: 60%;
  }

  .page_text {
    margin: 1em auto;
    text-align: center;
    padding: 0 2em;
  }
}

.company-section {
  background: var(--primary-clr-beige);
  .price-image {
    padding: 2em 0 2em;
    margin: 0 auto;
  }

  .price-text {
    margin: 0 auto;
    text-align: center;
    width: 80%;
  }
  .cta_price {
    padding: 0 0 3em;
  }
}

.gallery-section {
  .logo_dark {
    padding: 3em 0 3em;
    margin: 0 auto;
    width: 80%;
    max-width: 300px;
  }
}

.cta-bg {
  background-image: url(/assets/Images/OishiiSSWeb_forDev_Page_01_Image_0009.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  width: 100%;

  .cta {
    border-bottom: 2px solid var(--primary-clr-beige);
    margin: 0 auto;
    width: 20%;
  }

  .cta_container {
    padding: 27em 0;
  }

  .cta-title,
  .cta-text {
    white-space: pre-wrap;
    margin: 0 auto;
    width: 70%;
  }
}

footer {
  color: var(--primary-clr-beige);
  background-color: var(--primary-clr-dark-red);
  .footer-text {
    padding: 2em 0;
  }

  input {
    background-color: var(--primary-clr-dark-red);
    border: none;
    border-bottom: 2px solid var(--primary-clr-beige);
    margin: 2em 0;
  }
  input:focus {
    outline: var(--primary-clr-beige);
  }
  ::placeholder {
    color: var(--primary-clr-orange);
  }

  .footer_link_container {
    padding: 1.5em 0;
  }

  .footer__links {
    margin: 1em 0;
  }
  .copyright {
    padding: 1em 0;
  }
}

// Bigger Devices

@media (min-width: 900px) {
  header {
    margin: 1em 0 0;
    padding: 0 2em;

    nav {
      .homeLogo {
        width: 25%;
      }

      .navigation {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-wrap: nowrap;
        width: 100%;

        li {
          color: var(--primary-clr-white);
          margin: 0 1.5em 0;
          text-transform: uppercase;
          letter-spacing: 2px;
        }
      }

      .hamburger {
        display: none;
      }
    }
  }

  .info-section {
    .info_header {
      max-width: 550px;
    }

    .info_text {
      margin: 0 auto;
      font-size: var(--fs-400);
      width: 52%;
    }
  }

  .page-section {
    .page_container {
      display: flex;
      padding: 0 10em;
    }
    .desk_page_img {
      display: block;
      width: 70%;
    }

    .mobile_page_img {
      display: none;
    }

    .page_text {
      font-size: var(--fs-400);
      width: 70%;
    }

    .page_box_1 {
      text-align: center;
      width: 50%;
    }
  }

  .footer_container {
    display: flex;
    justify-content: space-between;
  }
}
