@use "base";
@use "utility";

body {
  line-height: 1.6;
  min-height: 100vh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul,
li {
  list-style: none;
  text-decoration: none;
}

img,
picture {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

//
header {
  nav {
    display: flex;
    border: 5px solid var(--primary-clr-dark-red);
  }
}
